{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h3>Edite a vaga da sua empresa:</h3>
<div class="card m-4">
    <div class="card-body">
        <form action="/empresa/vaga/alterar" method="POST">   
            <input type="hidden" value="{{vaga._id}}" name="id">         
            <label for="nome">Titulo: </label><br>
                <input type="text" name="nome" class="form-control" value="{{vaga.nome}}"><br>

            <label for="area" >Area:</label>
                <select name="area" id="area" required class="form-control">
                    <option value="Quimica">Quimica</option>
                    <option value="TI Desenvolvedor">TI Desenvolvedor</option>
                    <option value="TI Suporte">TI Suporte</option>
                    <option value="Saúde">Saúde</option>
                    <option value="Eletrecista">Eletrecista</option>
                    <option value="Manutenção">Manutenção</option>
                    <option value="Mecânico">Mecânico</option>
                    <option value="Limpeza">Limpeza</option>
                    <option value="Recursos Humanos">Recursos Humanos</option>
                    <option value="Juridico">Juridico</option>
                    <option value="Administração">Administração</option>
                    <option value="Operador">Operador</option>
                    <option value="Motorista">Motorista</option>
                    <option value="Segurança">Segurança</option>
                    <option value="Vigilante">Vigilante</option>
                    <option value="Segurança do Trabalho">Segurança do Trabalho</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Gestão">Gestão</option>
                    <option value="Vendas">Vendas</option>
                    <option value="Engenheiro Civil">Engenheiro Civil</option>
                    <option value="Arquiteto">Arquiteto</option>
                    <option value="Biomedicina">Biomedicina</option>
                    <option value="Educador">Educador</option>
                    <option value="Design">Design</option>
                    <option value="Engenheiro de Produção">Engenheiro de Produção</option>
                    <option value="Gastronomia">Gastronomia</option>
                    <option value="Jornalismo">Jornalismo</option>
                    <option value="Logística">Logística</option>
                    <option value="Pedagogia">Pedagogia</option>
                    <option value="Relações Internacionais">Relações Internacionais</option>
                </select>
                <br>

            <label for="descricao">Descrição:</label><br>
                <textarea type="text" name="descricao" class="form-control" required>{{vaga.descricao}}</textarea><br>
            
            <label for="beneficios">Beneficios:</label><br>
                <textarea type="text" name="beneficios" class="form-control" required>{{vaga.beneficios}}</textarea>
            <button type="submit" class="btn btn-success mt-4">Guardar</button>
        </form>
    </div>
</div>