<h3>Candidatos a vaga:</h3>

<h1>{{experiencia}}</h1>

{{#each teste}}
    <div class="card m-2">
        <div class="card-body">
            <h4>{{this.nome}}</h4>
            <small>Sobre: {{this.sobre}}</small><br><br>

            <a href="/empresa/curriculocandidato/{{_id}}"><button class="btn btn-success">Visualizar Curriculo</button></a>
        </div>
    </div>
{{else}}
<h4>Não há curriculos registrados</h4>
<div style="margin-bottom: 21rem;"></div>
{{/each}}