<div class="card">
    <div class="card-body">
        <h4>{{curriculo.usuario.nome}}</h4>
        <p>{{curriculo.usuario.telefone}}</p>
        <p>{{curriculo.usuario.email}}</p>
        <p>{{curriculo.usuario.linkedin}}</p>
        <hr>
        <h6>Experiencia:</h6><br>
        <p>{{curriculo.experiencia}}</p>
        <hr>
        <h6>Educação:</h6><br>
        <p>{{curriculo.educacao}}</p>
        <hr>
        <h6>Idiomas:</h6><br>
        <p>{{curriculo.idioma}}</p>
        <hr>
        <h6>Habilidades:</h6><br>
        <p>{{curriculo.habilidades}}</p>
        <hr>
        <h6>Outros:</h6><br>
        <p>{{curriculo.outros}}</p>
    </div>
</div>