<div class="card">
    <div class="card-body">
        <h4>{{curriculo.nome}}</h4>
        <p>Telefone: {{curriculo.telefone}}</p>
        <p>Email: {{curriculo.email}}</p>
        <p>Linkedin: {{curriculo.linkedin}}</p>
        <small>Sobre: {{curriculo.sobre}}</small>
        <hr>
        <h6>Experiencia:</h6><br>
        <p>{{curriculo.experiencia}}</p>
        <hr>
        <h6>Educação:</h6><br>
        <p>{{curriculo.educacao}}</p>
        <hr>
        <h6>Idiomas:</h6><br>
        <p>{{curriculo.idioma}}</p>
        <hr>
        <h6>Certificados:</h6><br>
        <p>{{curriculo.certificacao}}</p>
        <hr>
        <h6>Habilidades:</h6><br>
        <p>{{curriculo.habilidades}}</p>
        <hr>
        <h6>Outros:</h6><br>
        <p>{{curriculo.outros}}</p>
    </div>
</div>