<a href="/candidato/editcurriculo/{{curriculo.usuario._id}}"><button type="submit" class="btn btn-success">Editar Curriculo</button></a>
<br>
<br>
<div class="card m-4">
    <div class="card-body">
        
            <h1>{{curriculo.usuario.nome}}</h1>
            <h6>Telefone: {{curriculo.usuario.telefone}}</h6>
            <h6>Email: {{curriculo.usuario.email}}</h6>
            <h6>Linkedin: {{curriculo.usuario.linkedin}}</h6>
            <hr>
            <h4>Experiência: </h4>
            <h6>{{curriculo.experiencia}}</h6>
            <hr>
            <h4>Educação: </h4>
            <h6>{{curriculo.educacao}}</h6>
            <hr>
            <h4>Certificação: </h4>
            <h6>{{curriculo.certificacao}}</h6>
            <hr>
            <h4>Idioma: </h4>
            <h6>{{curriculo.idioma}}</h6>
            <hr>
            <h4>Habilidades: </h4>
            <h6>{{curriculo.habilidades}}</h6>
            <hr>
            <h4>Outros: </h4>
            <h6>{{curriculo.outros}}</h6>
        
    </div>
</div>